@import url('./Connection.scss'), url('./MainPage.scss'), url('./DashBoard.scss');

*{
  margin: 0;
}
html{
  max-height: 100%;
  body {
    max-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
    #root, .main{
      width: 100%;
      height: 100vh;
    }
  }
}

.profile_picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  &.default {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FD2D01;
    color: white;
    font-size: 25px;
    & p { padding-bottom: 3px; }
  }
  
  img {
    object-fit: cover;
  }
}

.dashboard_profile {
  .profile_picture {
    width: 70px;
    height: 70px;
    font-size: 40px;
  }
}