@import url('./Connection.scss'), url('./MainPage.scss');

*{
  margin: 0;
  scrollbar-color: #FD2D01;
  scrollbar-width: 6px;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #FD2D01;
    border-radius: 15px;
  }
}
html{
  max-height: 100%;
  body {
    max-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
    #root, .App, .main{
      width: 100%;
      height: 100%;
    }
  }
}