.chatForm{
    display: flex;
    margin: 10px auto;
    width: 100%;
    align-items: center;
    label{
        display: flex;
        margin: 0 5px;
        margin-left: auto;
        border-radius: 15px;
        background-color: white;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        img{
            width: 35px;
            height: 35px;
        }
    }
    textarea{
        border-radius: 15px;
        width: 40vw;
        padding: 2px 10px;
        word-break: break-word;
        border-color: rgb(205, 205, 205);
        &:focus{
            border-color: #FD2D01;
        }
        border-style: solid;
        resize: none;
        outline: none;
    }
    #image{
        display: none;
    }
    .submit{
        color: white;
        margin: 0 auto 0 5px;
        background-color: #FD2D01;
        padding: 10px;
        border-radius: 15px;
        border: none;
        font-size: 16px;
    }
}
@media screen and (max-width: 700px) {
    .chatForm{
        align-items: center;
        margin: 0;
        max-width: 100vh;
        textarea{
            margin: 0 5px;
            width: calc(100vw - 180px);
        }
        label{
            margin: 0 5px;
        }
        .submit{
            margin: 0 5px;
        }
    }
}