.formulaire{
    width: 100%;
    form{
        display: flex;
        justify-content: space-around;
        width: 100%;
        .form_item{
            display: flex;
            flex-direction: column;
            margin: 10px;
            label{
                position: absolute;
                transform-origin: 0;
                pointer-events: none;
                color: rgb(105, 105, 105);
                transform: scale(.75)translate(1px, -16px);
            }
            input{
                width: auto;
                border: transparent 2px solid;
                border-bottom-color: #FD2D01;
                box-shadow: none;
            }
            .errorMsg{
                color: white;
                background-color: rgba(255, 0, 0, 0.626);
                padding: 3px;
                border-radius: 5px;
                font-size: 10px;
                min-width: 16px;
                &:empty{
                    background-color: white;
                }
            }
        }
    }
}
@media screen and (max-width: 700px){
    .formulaire{
        transform: scale(1.3);
        form{
            flex-direction: column;
            padding: 50px 0 0 0;
            .form_item{
                width: 30vh;
                margin: auto;
            }
        }
    }
}